/* header */
body, html{
	height: 100%;
}



.container1{
	background-image: url('../images/intro-bg.png');
	background-position: center;
	background-size: cover;
	position: relative;
	width: 100%;
	height:100%;
	margin: auto;


}

.headerMenuContainer1 {
	position: relative;
	color: white;
	margin: auto;

}

.headerMenu p {
	float: left;
}

.headerMenu ul{

	display: inline;
	list-style: none;
	float:right;
}

.headerMenu li {
	display: inline;

}


/*

.headerMenuList{
	float:left;
}

.heaedrName{
	position: inline;
	float:left;
}


.headerMenuList{
	list-style: none;
	float: right;
	padding: 0px;
}

.headerMenuList li{
	display: inline;
}

å



.Container2_featuredHomes{
	text-align: center;

}

/*


.headerName{
	width: 70%;
	display: inline;
}


.headerMenuRight{
	float:right;
}

.headerMenuList{
	text-align: right;
	list-style: none;
	width:30%;
	display: inline-flex;
}


.centerHeadertext{
	text-align: center;
	color: white;

}





.container1{
	
	height: 100%;
	width: 100%;
	
}

}

.menu{
	text-align: center;
}


.underline{
	color: navy;
}
/*container 2*/

/*
.location{
	position: absolute;
}



/*gallery*/
/*
.card{
 position: inline;
}



/*realtor section*/

/*footer
.contactContainer{

}

.footergray{
	color: gray;
}
